<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%=title%></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/normalize.css">
	<link rel="stylesheet" href="../assets/css/scrollbar.css">
	<link rel="stylesheet" href="../assets/css/fontawesome/fontawesome-all.css">
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../assets/css/linearicons.css">
	<link rel="stylesheet" href="../assets/css/jquery-ui.css">
	<link rel="stylesheet" href="../assets/css/tipso.css">
	<link rel="stylesheet" href="../assets/css/chosen.css">
	<link rel="stylesheet" href="../assets/css/prettyPhoto.css">
	<link rel="stylesheet" href="../assets/css/main.css">
	<link rel="stylesheet" href="../assets/css/color.css">
	<link rel="stylesheet" href="../assets/css/transitions.css">
	<link rel="stylesheet" href="../assets/css/responsive.css">
	<script src="../../assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body class="wt-login">
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Preloader Start -->
	<div class="preloader-outer">
		<div class="loader"></div>
	</div>
	<!-- Preloader End -->
	<!-- Wrapper Start -->
	<div id="wt-wrapper" class="wt-wrapper wt-haslayout">
		<!-- Content Wrapper Start -->
		<div class="wt-contentwrapper">
			<!-- Header Start -->
			<header id="wt-header" class="wt-header wt-haslayout">
				<div class="wt-navigationarea">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<strong class="wt-logo"><a href="/"><img src="../assets/images/logo.png"
											alt="company logo here"></a></strong>
								<div class="wt-rightarea">
									<nav id="wt-nav" class="wt-nav navbar-expand-lg">
										<button class="navbar-toggler" type="button" data-toggle="collapse"
											data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
											aria-label="Toggle navigation">
											<i class="lnr lnr-menu"></i>
										</button>
										<div class="collapse navbar-collapse wt-navigation" id="navbarNav">
											<ul class="navbar-nav">
												<li class="menu-item-has-children page_item_has_children">
													<a href="javascript:void(0);">Main</a>
													<ul class="sub-menu">
														<li
															class="menu-item-has-children page_item_has_children wt-notificationicon">
															<span class="wt-dropdowarrow"><i
																	class="lnr lnr-chevron-right"></i></span>
															<a href="/">Home</a>
														</li>
														<!--
															<li class="menu-item-has-children page_item_has_children"><span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
															<a href="javascript:void(0);">Article</a>
															<ul class="sub-menu">
																<li><a href="articlelist.html">Article List</a></li>
																<li><a href="articlegrid.html">Article Grid</a></li>
																<li><a href="articlesingle.html">Article Single</a></li>
																<li><a href="articleclassic.html">Article Classic</a></li>
															</ul>
														</li>
														-->

														<li class="menu-item-has-children page_item_has_children"><span
																class="wt-dropdowarrow"><i
																	class="lnr lnr-chevron-right"></i></span>
															<a href="/companyGrid">Find Company</a>
														</li>
														<li>
															<a href="/about">About</a>
														</li>
														<li>
															<a href="/privacyPolicy">Privacy Policy</a>
														</li>
													</ul>
												</li>
												<li class="nav-item">
													<a href="/howitworks">How It Works</a>
												</li>
												<li class="menu-item-has-children page_item_has_children">
													<a href="/companyPost/allDataPosts">Find Jobs</a>
												</li>
												<li class="menu-item-has-children page_item_has_children">
													<a href="/userlisting">View Employees</a>
												</li>
											</ul>
										</div>
									</nav>
									<%if(user===null){%>
									<div class="wt-loginarea">
										<figure class="wt-userimg">
											<img src="../assets/images/user-login.png" alt="img description">
										</figure>
										<div class="wt-loginoption">
											<a href="javascript:void(0);" id="wt-loginbtn" class="wt-loginbtn">Login</a>
											<div class="wt-loginformhold">
												<div class="wt-loginheader">
													<span>Login</span>
													<a href="javascript:;"><i class="fa fa-times"></i></a>
												</div>
												<form class="wt-formtheme wt-loginform do-login-form"
													action="/user/login" method="POST"
													onsubmit="return checkLoginForm(this);">
													<fieldset>
														<div class="form-group">
															<input type="email" name="email" id="email"
																class="form-control" placeholder="Email">
															<small class="text-danger" id="loginEmail"></small>
															<p id="notFoundEmail" style="display: none;"
																class="text-danger"><%=notfound%></p>

														</div>
														<div class="form-group">
															<input type="password" name="password" id="password"
																class="form-control" placeholder="Password">
															<small id="loginPassword" class="text-danger"></small>
															<p id="notcorrectpass" style="display: none;"
																class="text-danger"><%=wrongPass%></p>


														</div>
														<div class="wt-logininfo">
															<input type="submit" class="wt-btn btn do-login-button"
																value="Login">
															<!-- 
																<span class="wt-checkbox">
																<input id="wt-login" type="checkbox" name="rememberme">
																<label for="wt-login">Keep me logged in</label>
															</span>
															-->
														</div>
													</fieldset>
													<div class="wt-loginfooterinfo">
														<a href="javascript:;" class="wt-forgot-password">Forgot
															password?</a>
														<a href="/user/signUp">Create account</a>
													</div>
												</form>
												<form
													class="wt-formtheme wt-loginform do-forgot-password-form wt-hide-form"
													action="/user/reset" method="POST">
													<input type="email" name="email" class="form-control get_password"
														placeholder="Email">
													<input type="submit" value="Get Password"
														class="wt-btn do-get-password" />
													<!-- data-toggle="modal" data-target="#exampleModal"-->

												</form>
												<!-- Button trigger modal -->
												<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
		Launch demo modal
	  </button>
	   -->

												<form
													class="wt-formtheme wt-loginform do-forgot-password-form wt-hide-form">

													<div class="wt-loginfooterinfo">
														<a href="javascript:void(0);" class="wt-show-login">Login</a>
														<a href="/user/signUp">Create account</a>
													</div>
												</form>
											</div>
										</div>
										<a href="/user/signUp" class="wt-btn">Join Now</a>
									</div>
									<%}else{%>
									<div class="wt-userlogedin" style="display: block;">
										<figure class="wt-userimg">
											<%if(user.role=="User"){%>
											<%if(user.profilePhoto=="null"){%>
											<!-- <img src="../assets/images/profile/img-01.jpg" alt="img description"> -->
											<img src="../assets/images/profile/img-01.jpg" alt="img description">
											<%}else{%>
											<img src="../assets/images/uploaded/<%=user._id+'_profile.'+user.profilePhoto.split('.')[1]%>"
												alt="img description">
											<%}%>
												<%}else if(user.role=="Company"){%>
											<%if(user.profilePhoto=="null"){%>
											<img src="../assets/images/profile/img-01.jpg" alt="img description">
											<%}else{%>

											<img src="../assets/images/uploaded/<%=user._id+'_profile.'+user.profilePhoto.split('.')[1]%>"
												alt="image description">
											<%}%>
											<!-- <img src="../assets/images/user-img.jpg" alt="image description"> -->
											<%}%>
										</figure>
										<div class="wt-username">
											<h3><%=user.firstName%>&nbsp;<%=user.lastName%></h3>
											<span><%=user.country%></span>
										</div>
										<nav class="wt-usernav">
											<ul>
												<%if(user.role=="User"){%>
												<li>
													<a href="/user/dashboard">
														<span>Dashboard</span>
													</a>
												</li>
												<%}%>
													<%if(user.role=="Company"){%>
												<li>
													<a href="/company/dashboard">
														<span>Dashboard</span>
													</a>
												</li>
												<%}%>
												<li>
													<a href="/user/myAccount">
														<span>MY Profile</span>
													</a>
												</li>
												<%if(user.role=="User"){%>
												<li>
													<a href="/user/profileSetting">
														<span>Profile Setting</span>
													</a>
												</li>
												<li class="menu-item-has-children">
													<a href="javascript:void(0);">
														<span>All Jobs</span>
													</a>
													<ul class="sub-menu">
														<!-- <li><a href="dashboard-completejobs.html">Completed Jobs</a></li> -->
														<!-- <li><a href="dashboard-canceljobs.html">Cancelled Jobs</a></li> -->
														<li><a href="/companyPost/dashbordPost">Ongoing Jobs</a></li>
														<!-- <li><a href="dashboard-ongoingsingle.html">Ongoing Single</a></li> -->
													</ul>
												</li>
												<%}else{%>
												<li>
													<a href="/company/companySetting">
														<span>Company Setting</span>
													</a>
												</li>

												<li class="menu-item-has-children">
													<a href="javascript:void(0);">
														<span>All Jobs</span>
													</a>
													<ul class="sub-menu">
														<li><a href="/companyPost/stopThisJobPage">Stoped Jobs</a></li>
														<li><a href="/companyPost/dashbordPost">Ongoing Jobs</a></li>
														<li><a href="/companyPost/completedThisJobPage">Completed
																Jobs</a>
														</li>
													</ul>
												</li>
												<!-- <li>
												 <a href="dashboard-managejobs.html">
															<span>Manage Jobs</span>
														</a> 
											</li> -->

												<!-- <li>
												<a href="dashboard-invocies.html">
															<span>Invoices</span>
														</a>
											</li> -->
												<!-- <li>
												<a href="dashboard-proposals.html">
															<span>Proposals</span>
														</a>
											</li> -->
												<%}%>
<!-- 												
													<li class="menu-item-has-children">
													<a href="javascript:void(0);">
														<span>All Jobs</span>
													</a>
													<ul class="sub-menu">
														<li><a href="dashboard-completejobs.html">Completed Jobs</a></li>
														<li><a href="dashboard-canceljobs.html">Cancelled Jobs</a></li>
														<li><a href="/companyPost/usersApplied">Ongoing Jobs</a></li>
														<li><a href="dashboard-ongoingsingle.html">Ongoing Single</a></li>
													</ul>
												</li>
												
												
													<li>
													<a href="dashboard-managejobs.html">
														<span>Manage Jobs</span>
													</a>
												</li>
												 -->
												
												<!-- <li class="wt-notificationicon menu-item-has-children">
													<a href="dashboard-messages.html">
														<span>Messages</span>
													</a>
													
												</li>
												 -->
													<!-- <li>
													<a href="dashboard-saveitems.html">
														<span>My Saved Items</span>
													</a>
												</li> -->
											
												<!--	
													<li>
													<a href="dashboard-invocies.html">
														<span>Invoices</span>
													</a>
												</li> -->
												<%if(user.role=="Admin"){%>
												<li>
													<a href="/category/addPage">
														<span>Category</span>
													</a>
												</li>
												<%}%>
												<!-- <li>
													<a href="dashboard-proposals.html">
														<span>Proposals</span>
													</a>
												</li> -->
											
													<li>
													<!-- <a href="dashboard-accountsettings.html">
														<span>Account Settings</span>
													</a> -->
												</li>
												
												<li>
													<!-- <a href="dashboard-helpsupport.html">
														<span>Help &amp; Support</span>
													</a> -->
												</li>
												<li>
													<!-- 
														<a href="/">
														<span>Logout</span>
													</a>
													-->
													<a>
															<form action="/user/logout" method="POST">
																<span>
															<input type="submit" style="border: none;background-color: transparent;" value="logout">
															</span>
															</form>
														</a>
												</li>
											</ul>
										</nav>
									</div>
									<%}%>
									</div>
								</div>
							</div>
						</div>
					</div>
			</header>
			<!--Header End-->
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="alert alert-success" role="alert">
						<div class="modal-header">
							<div class="alert alert-success" role="alert" id="exampleModalLabel">Modal title</div>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="alert alert-success" role="alert"> you will receive email with your reset password
							link in aminute please check you inbox</div>
					</div>
				</div>
			</div>